
        {{#each planets}}
        {{>planet}}       
        <!-- Repeat the block for more planets -->
        {{else}}
        <p class="no-post">There are no planets found yet!</p>
        {{/each}}

    